<div>
    <div class="pizzaZam">

    <div class="namePizza"><%= pizza.title %> (<%= size %>)</div>
    <div class="diamAndWeight">
    <img class="imgDiam styleOfBlock marg" src="assets/images/size-icon.svg">
        <div class="diam styleOfBlock"><%= pizza[size].size %></div>
        <img class="imgWeight styleOfBlock marg" src="assets/images/weight.svg">
        <div class="weight styleOfBlock"><%=  pizza[size].weight %></div>
    </div>
    <img class="halfPizza" src="<%= pizza.icon %>">
    <div class="changeAmount">
    <span class="price marg "><%=  pizza[size].price %></span>
        <% if($(".buy").hasClass("none") == false) { %>
        <button class="button minus marg ">-</button>
        <% } %>
        <% if($(".buy").hasClass("none") == true) { %>
        <span> <b>грн</b></span>
        <% } %>
    <span class="amountOfPizzas marg"><%= quantity %></span>
        <% if($(".buy").hasClass("none") == true) { %>
        <span> <b>піца</b></span>
        <% } %>
        <% if($(".buy").hasClass("none") == false) { %>
        <button class="button plus marg">+</button>
        <% } %>
        <% if($(".buy").hasClass("none") == false) { %>
        <button class="button delete marg">x</button>
        <% } %>
    </div>
    </div>
</div>